nucleo_h563zi/build/
nucleo_h563zi/cmake/
nucleo_h563zi/Core/Inc/*
!nucleo_h563zi/Core/Inc/main.h
nucleo_h563zi/Core/Src/*
!nucleo_h563zi/Core/Src/main.c
!nucleo_h563zi/Core/Src/stm32h5xx_it.c
nucleo_h563zi/Drivers/

nucleo_h563zi/.mxproject
nucleo_h563zi/CMakePresets.json
nucleo_h563zi/STM32H563xx_FLASH.ld
nucleo_h563zi/STM32H563xx_RAM.ld
